<app-introduction></app-introduction>
<app-description id="about"></app-description>
<app-skills id="skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-first-project
    class="project-container"></app-first-project>
<app-second-project
    class="project-container"></app-second-project>
<app-third-project
    class="project-container"></app-third-project>
<!-- <app-forth-project
    class="project-container"></app-forth-project> -->
<!-- <app-fifth-project
    class="project-container"></app-fifth-project> -->
<app-contact id="contact"></app-contact>