<app-introduction id="introductionSection"></app-introduction>
<app-description id="descriptionSection"></app-description>
<app-skills id="skillsSection"></app-skills>
<app-portfolio id="portfolioSection"></app-portfolio>
<app-first-project
    class="project-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small"></app-first-project>
<app-second-project
    class="project-container pr-standard-mobile pl-standard-mobile flex-reverse pr-standard-small pl-standard-small"></app-second-project>
<app-third-project
    class="project-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small"></app-third-project>
<app-forth-project
    class="project-container pr-standard-mobile pl-standard-mobile flex-reverse pr-standard-small pl-standard-small"></app-forth-project>
<app-fifth-project
    class="project-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small"></app-fifth-project>
<app-contact id="contactSection"></app-contact>