header {
    height: 90px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #141d2f;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    height: 100%;
    width: 70%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 23px;

        &:hover {
            color: #1CDAE6;
        }
    }
}

.links-menu-mobile {
    cursor: pointer;
}

.active {
    color: #1CDAE6 !important;
    text-decoration: underline !important;
    text-decoration-color: #4B47FF !important;
    text-decoration-thickness: 3px !important;
    text-underline-position: under !important;
    text-underline-offset: 2px !important;
}

.logo {
    width: 65px;
    height: 29px;
    margin-bottom: 5px;
    cursor: pointer;
}

app-mobile-menu {
    align-items: center;
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(20, 29, 47, 0.99);
    gap: 30px;
    padding-top: 30%;
    transition: all 125ms ease-in-out;
}