.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 1070px) {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.owner {
    font-size: 23px;
    font-weight: 300;
}

.footer-links-box {
    display: flex;
    gap: 40px;

    img {
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.35);
        }
    }
}

.logo {
    width: 86px;
    height: 38px;
    margin-bottom: 5px;
    cursor: pointer;
}

.text-imprint {
    font-weight: 300;
    margin-left: 2px;
    cursor: pointer;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        transition: width 100ms ease-in-out;
        background-color: #00BEE8;
    }

    &:hover::after {
        width: 60%;
    }

    @media (max-width: 1070px) {
        display: none;
    }
}

.text-imprint-mobile {
    display: none;
    font-weight: 300;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        transform: translateX(-50%);
        transition: width 100ms ease-in-out;
        background-color: #00BEE8;
    }

    &:hover::after {
        width: 70%;
    }

    @media (max-width: 1070px) {
        display: inline-block;
    }
}