.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 1070px) {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.owner {
    font-size: 23px;
    font-weight: 300;
}

.footer-links-box {
    display: flex;
    gap: 40px;

    img {
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.35);
        }
    }
}

.logo {
    width: 86px;
    height: 38px;
    margin-bottom: 5px;
    cursor: pointer;
}

.text-imprint {
    margin-left: 2px;

    @media (max-width: 1070px) {
        display: none;
    }
}

.text-imprint-mobile {
    display: none;

    @media (max-width: 1070px) {
        display: flex;
    }
}

span {
    cursor: pointer;
}