<div class="content pl-standard-desktop">
    <div class="icons-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small">
        <div class="icons-box">
            <img src="assets/img/icons/angular.png">
            <span>Angular</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/typescript.png">
            <span>TypeScript</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/javascript.png">
            <span>JavaScript</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/html.png">
            <span>HTML</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/firebase.png">
            <span>Firebase</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/git.png">
            <span>GIT</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/css.png">
            <span>CSS</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/api.png">
            <span>Rest-API</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/scrum.png">
            <span>Scrum</span>
        </div>
        <div class="icons-box">
            <img src="assets/img/icons/material_design.png">
            <span>Material<br>design</span>
        </div>
    </div>
    <div class="skills-box">
        <div class="headline-container">
            <h1>My skills</h1>
            <div class="design-line-blue"></div>
        </div>
        <div class="skills-description pr-standard-desktop pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small">
            <span>The time I was studying I growed my frontend developments skills everyday and created various exciting projects.</span>
            <button routerLink="/" fragment="contact">Get in touch</button>
        </div>
    </div>
</div>