<div class="content pr-standard-desktop pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small pr-standard-small pl-standard-small">
    <div class="content-left">
        <img src="assets/img/background/shadow_introduction.png" class="bg-shadow-introduction">
    </div>
    <div class="content-right">
        <div class="d-flex headline-container">
            <div class="headline-extra-left">
                <div>
                    <span>I am</span>
                </div>
            </div>
            <div class="headline-box">
                <h1>Tim Voigt</h1>
                <span>FRONTEND DEVELOPER</span>
                <div class="f-center">
                    <button>Let´s talk!</button>
                </div>
            </div>
        </div>
        <div class="scroll-down-box hide-mobile">
            <span>Scroll down</span>
            <img src="assets/img/icons/arrow.png">
        </div>
    </div>
</div>
<div class="introduction-links-box">
    <div class="design-line-blue"></div>
    <img src="assets/img/icons/github.png">
    <img src="assets/img/icons/email.png">
    <img src="assets/img/icons/linkedin.png">
    <span>timvoigt@gmail.com</span>
</div>
<div class="background-shape">
    <img src="assets/img/background/divider_blue.png">
    <img src="assets/img/background/shadow_description.png" class="bg-shadow-description">
</div>