.content-left {
    display: flex;
    width: 50%;
    position: relative;
    align-items: flex-end;

    span {
        font-size: 23px;
    }
}

.design-line-blue {
    width: 100px;
    height: 4px;
    background-color: #4B47FF;
    border-radius: 10px;
}

.introduction-links-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    gap: 40px;

    img {
        height: 30px;
        width: 30px;
    }
}

.content-right {
    display: flex;
    width: 50%;
    position: relative;
    justify-content: flex-end;
    padding-top: 8%;
    padding-right: 100px;
}

.background-shape {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 25%;

    img {
        width: 100%;
        object-fit: cover;
    }

}

.scroll-down-box {
    position: absolute;
    right: 8%;
    align-self: flex-end;
    justify-self: flex-end;
    transform: rotate(90deg) translateY(-5px);
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    cursor: pointer;
    
    img {
        margin-left: 5px;
        transform: rotate(90deg);
    }
}

.headline-box {
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: -25px;
    }

    span {
        font-size: 58px;
        color: #4B47FF;
        margin-bottom: 35px;
    }

    button {
        margin-left: -25%;
    }
}

.headline-extra-left {
    height: 440px;
    width: 70px;
    margin-left: -70px;

    div {
        width: 200px;
        transform: rotate(-90deg) translateY(-94px);
        margin-top: 30px;   

        span {
            width: 200px;
            font-size: 64px;
        }
    }

}

.bg-style {
    z-index: -2;
    align-self: center;
    position: absolute;
    height: 750px;
    margin-left: -30px;
}