.content {
    display: flex;
    height: 80vh;

    @media (max-width: 1070px) {
        flex-direction: column;
        height: 75vh;
    }
}

.content-left {
    width: 50%;
    position: relative;

    @media (max-width: 1070px) {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .bg-shadow-introduction {
        z-index: -2;
        position: absolute;
        height: 750px;
        margin-left: 75px;

        @media (max-width: 1650px) {
            margin-left: -30px;
        }

        @media (max-width: 1200px) {
            height: 700px;
        }

        @media (max-width: 1070px) {
            margin-top: -70px;
        }

        @media (max-height: 770px) and (max-width: 400px) {
            height: 450px;
            margin-top: -40px;
        }
    }
}

.design-line-blue {
    width: 100px;
    height: 4px;
    background-color: #4B47FF;
    border-radius: 10px;

    @media (max-width: 460px) {
        width: 40px;
    }
}

.introduction-links-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    gap: 40px;

    img {
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.35);
        }
    }

    span {
        font-size: 23px;

        @media (max-width: 1070px) {
            display: none;
        }
    }
}

.content-right {
    display: flex;
    width: 50%;
    position: relative;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 1200px) {
        padding-top: 10%;
    }

    @media (max-width: 1070px) {
        width: 100%;
        padding-right: 0;
    }

    @media (max-width: 600px) {
        padding-top: 0;
    }

    .headline-box {
        display: flex;
        flex-direction: column;
        margin-right: 150px;

        @media (max-width: 1750px) {
            margin-right: 0;
        }

        h1 {
            margin-bottom: -25px;

            @media (max-width: 1440px) {
                margin-bottom: -15px;
            }

            @media (max-width: 1070px) {
                font-size: 70px !important;
            }

            @media (max-width: 600px) {
                margin-bottom: 0;
                font-size: 50px !important;
            }

            @media (max-width: 400px) {
                text-align: center;
            }
        }

        span {
            font-size: 58px;
            color: #4B47FF;
            margin-bottom: 35px;
            white-space: nowrap;

            @media (max-width: 1440px) {
                font-size: 46px;
            }

            @media (max-width: 1200px) {
                font-size: 38px;
            }

            @media (max-width: 600px) {
                font-size: 28px;
            }

            @media (max-height: 630px) and (max-width: 400px) {
                margin-bottom: 15px;
            }
        }

        button {
            margin-left: -25%;

            @media (max-width: 1440px) {
                margin-left: -15%;
            }

            @media (max-width: 400px) {
                margin-left: 0;
            }
        }
    }

    .headline-extra-left {
        height: 440px;
        width: 70px;
        margin-left: -70px;

        @media (max-width: 1440px) {
            width: 60px;
        }

        @media (max-width: 1200px) {
            width: 45px;
        }

        @media (max-width: 1070px) {
            height: auto;
            margin-left: 15px;
        }

        @media (max-width: 600px) {
            width: 30px;
        }

        @media (max-width: 400px) {
            display: none;
        }

        div {
            width: 200px;
            transform: rotate(-90deg) translateY(-94px);
            margin-top: 30px;

            @media (max-width: 1440px) {
                margin-top: 25px;
            }

            @media (max-width: 1200px) {
                margin-top: 0;
            }

            @media (max-width: 600px) {
                margin-top: -25px;
            }

            span {
                font-size: 64px;

                @media (max-width: 1440px) {
                    font-size: 58px;
                }

                @media (max-width: 1200px) {
                    font-size: 45px;
                }

                @media (max-width: 600px) {
                    font-size: 32px;
                }
            }
        }
    }

    .headline-container {
        margin-right: 10%;

        @media (max-width: 1900px) {
            margin-right: 0;
        }

        @media (max-width: 1070px) {
            width: 100%;
            justify-content: center;
        }
    }
}

.background-shape {
    position: absolute;
    z-index: -2;
    width: 100vw;
    max-width: 100%;
    top: 10%;

    @media (max-width: 1070px) {
        top: -2%;
    }

    img {
        object-fit: cover;
    }

    .divider {
        width: 100%;

        @media (max-width: 1700px) {
            margin-top: 60px;
        }

        @media (max-width: 1550px) {
            margin-top: 90px;
        }

        @media (max-width: 1450px) {
            margin-top: 120px;
        }

        @media (max-width: 1350px) {
            margin-top: 150px;
        }

        @media (max-width: 1250px) {
            margin-top: 180px;
        }

        @media (max-width: 1180px) {
            margin-top: 210px;
        }

        @media (max-width: 1070px) {
            margin-top: 200px;
            overflow: clip;
            transform: rotate(7deg) translateX(-14px);
        }

        @media (max-width: 940px) {
            margin-top: 230px;
        }

        @media (max-width: 830px) {
            margin-top: 260px;
        }

        @media (max-width: 600px) {
            margin-top: 300px;
            transform: rotate(7deg) translateX(-5px);
        }

        @media (max-width: 480px) {
            margin-top: 320px;
        }

        @media (max-width: 420px) {
            transform: rotate(0deg) translateX(0px);
        }

        @media (max-height: 770px) and (max-width: 400px) {
            margin-top: 180px;
        }

        @media (max-height: 630px) and (max-width: 400px) {
            margin-top: 160px;
        }
    }

    .bg-shadow-description {
        position: absolute;
        z-index: 0;
        bottom: 300px;
        right: -310px;
        height: 600px;
        width: 600px !important;

        @media (max-width: 1750px) {
            bottom: 150px;
        }

        @media (max-width: 1500px) {
            bottom: 100px;
        }

        @media (max-width: 1400px) {
            bottom: 40px;
        }

        @media (max-width: 1070px) {
            display: none;
        }
    }
}

.scroll-down-box {
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 50px;
    transform: rotate(90deg) translateY(-45px);

    display: flex;
    align-items: center;
    cursor: default;

    @media (max-width: 1070px) {
        display: none;
    }

    img {
        margin-left: 5px;
        transform: rotate(90deg);
    }
}

.portrait {
    height: 660px;
    width: auto;
    position: absolute;
    z-index: -2;
    top: -85px;
    left: 200px;

    @media (max-width: 1650px) {
        left: 72px;
    }

    @media (max-width: 1070px) {
        height: 470px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    @media (max-width: 720px) {
        top: -27px;
    }

    @media (max-width: 600px) {
        top: -15px;
    }

    @media (max-width: 480px) {
        top: 5px;
    }

    @media (max-width: 400px) {
        height: 400px;
        top: 55px;
    }

    @media (max-height: 870px) and (max-width: 400px) {
        height: 380px;
        top: 70px;
    }

    @media (max-height: 770px) and (max-width: 400px) {
        height: 300px;
        top: 0;
    }
}