app-header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    max-width: 1442px;
    overflow-y: hidden;
    top: 0;
}

app-introduction {
    height: 80vh;
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    max-width: 1442px;
    margin-top: 140px;
}

app-description {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 1442px;
}

app-skills {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1442px;
}

app-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1442px;
    margin-bottom: 100px;
}

app-first-project {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1442px;
    display: flex;
    justify-content: flex-end;
}

app-second-project {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1442px;
    display: flex;
    justify-content: flex-end;
}

app-third-project {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1442px;
    justify-content: flex-end;
    display: flex;
}

app-forth-project {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1442px;
    justify-content: flex-end;
    display: flex;
}

app-fifth-project {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1442px;
    justify-content: flex-end;
    display: flex;
}

app-contact {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1442px;
}

app-footer {
    height: 290px;
    width: 100%;
    max-width: 1442px;
    border-top: 4px solid #00BEE8;
}