app-introduction {
    height: 85vh;
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-left: 95px;
    padding-right: 95px;
}

app-description {
    height: 100vh;
    display: flex;
    position: relative;
}