<app-header></app-header>
<router-outlet></router-outlet>
<app-footer class="f-center"></app-footer>
<div class="background-container">
    <div class="bg-shadow-skills">
        <img src="assets/img/background/shadow_skills.png">
    </div>
    <!-- <div class="bg-shadow-third-project">
        <img src="assets/img/background/shadow_third_project.png">
    </div> -->
    <div class="bg-shadow-fifth-project">
        <img src="assets/img/background/shadow_fifth_project.png">
    </div>
    <div class="bg-shadow-footer">
        <img src="assets/img/background/shadow_footer.png">
    </div>
</div>