<app-header></app-header>
<app-introduction id="introductionSection"></app-introduction>
<app-description id="descriptionSection"></app-description>
<app-skills id="skillsSection"></app-skills>
<app-portfolio id="portfolioSection"></app-portfolio>
<app-first-project class="project-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small"></app-first-project>
<app-second-project class="project-container pr-standard-mobile pl-standard-mobile flex-reverse pr-standard-small pl-standard-small"></app-second-project>
<app-third-project class="project-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small"></app-third-project>
<app-forth-project class="project-container pr-standard-mobile pl-standard-mobile flex-reverse pr-standard-small pl-standard-small"></app-forth-project>
<app-fifth-project class="project-container pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small"></app-fifth-project>
<app-contact id="contactSection"></app-contact>
<app-footer class="f-center"></app-footer>
<div class="background-container">
    <div style="height: 165vh;">
        <img src="assets/img/background/shadow_skills.png" class="bg-shadow-skills">
    </div>
    <div style="height: 75vh;">
        <img src="assets/img/background/shadow_third_project.png" class="bg-shadow-third-project">
    </div>
    <div style="height: 130vh;">
        <img src="assets/img/background/shadow_fifth_project.png" class="bg-shadow-fifth-project">
    </div>
    <div style="height: 20vh;">
        <img src="assets/img/background/shadow_footer.png" class="bg-shadow-footer">
    </div>
</div>
