<div class="j-start project-content flex-reverse">
    <div class="d-flex f-column forth-project-info-design-mobile w-50">
        <h2 class="text-end  p-project-r-15">Sharkyboy</h2>
        <h3 class="text-end  p-project-r-15">JavaScript | HTML | CSS</h3>
        <span class="mb-30 text-end  p-project-r-15">Two-dimensional game based on an object oriented approach. Help Sharkyboy to find
            coins and poison bottles to fight against pufferfishes and the killer whale.</span>
        <div class="d-flex j-end g-90  p-project-r-15">
            <a href="https://sharkyboy.timvoigt.ch" target="_blank" class="td-none">
                <button class="button-live-test">Live test</button>
            </a>
            <a href="https://github.com/Landvoigt/Sharkyboy" target="_blank" class="td-none">
                <button class="button-github">Github</button>
            </a>
        </div>
    </div>
    <div class="d-flex f-center j-start second-project-img-design-mobile w-50 p-project-r-100 notebook-style-mobile">
        <img src="assets/img/photos/sharkyboy_desktop.png" class="notebook-small-mobile">
    </div>
</div>