<div class="content-left pl-standard-desktop pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small">
    <h1>About me</h1>
    <span class="description-text">Hello, my name is Tim and I am a Frontend Developer based in Zürich. Over the past
        several years while coding in my free time I worked as a chef where I had a successful career in
        three different restaurants. Even though I loved the culinary arts, the tech geek in me couldn't resist. So I
        decided eventually to make a professional career out of this and studied web development at the Developer
        Akademie in Munich.</span>
    <div class="f-center mb-30 mobile-adjustment">
        <div class="img-box">
            <img src="assets/img/icons/lightbulb.png">
        </div>
        <span>I enjoy turning ideas into reality by injecting my own creativity, plan a project carefully and write a
            clean code. My past job experience has equipped me with strong teamwork skills. I also have a
            preference for collaborative work and am receptive to forward-thinking methods.</span>
    </div>
    <div class="f-center mobile-adjustment">
        <div class="img-box">
            <img src="assets/img/icons/puzzle.png">
        </div>
        <span>Having completed my retraining, I'm excited to begin a new career as a developer and continue to grow
            professionally. If you see a potential fit for your company, please reach out!</span>
    </div>
</div>

<div class="content-right">
    <div class="avatar-box hide-mobile">
        <img src="assets/img/photos/avatar_tim.png">
        <div class="design-line-lightblue"></div>
    </div>
</div>
<img src="assets/img/background/shadow_description.png" class="bg-shadow-description">