<div class="content-left pl-standard-desktop pr-standard-mobile pl-standard-mobile pr-standard-small pl-standard-small">
    <h1>About me</h1>
    <span class="description-text">Hi I am a Frontend Developer Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Id error repellat alias sequi, exercitationem ipsum voluptate minus possimus molestias quo fugit sunt
        dignissimos est aut nulla explicabo, quae consequatur commodi!</span>
    <div class="f-center mb-30 mobile-adjustment">
        <img src="assets/img/icons/lightbulb.png">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet mollitia expedita omnis! Possimus at
            dolores ab accusantium quidem numquam consequatur, quia voluptatibus </span>
    </div>
    <div class="f-center mobile-adjustment">
        <img src="assets/img/icons/puzzle.png">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque magni deserunt, laboriosam officia,
            dolorum obcaecati consectetur soluta </span>
    </div>
</div>

<div class="content-right">
    <div class="avatar-box hide-mobile">
        <img src="assets/img/photos/avatar_tim.png">
        <div class="design-line-lightblue"></div>
    </div>
</div>
<img src="assets/img/background/shadow_description.png" class="bg-shadow-description">