//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/scss/modules/_fonts.scss';

// primary font
$primary_font: 'Poppins', 'sans-serif';

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size desktop
$primary-fs: 16px;
$font-md: 23px;
$font-lg: 32px;
$font-hl: 90px;

// Font size mobile
$font-hl-m: 45px;

body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
    margin: 0;
}