//----------------------------------*\
// Fonts
//----------------------------------*/

/* poppins-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/Poppins/poppins-v20-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/Poppins/poppins-v20-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Poppins/poppins-v20-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Poppins/poppins-v20-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Poppins/poppins-v20-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Poppins/poppins-v20-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Poppins/poppins-v20-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/Poppins/poppins-v20-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/Poppins/poppins-v20-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// primary font
$primary_font: 'Poppins', 'sans-serif';

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size desktop
$primary-fs: 16px;
$font-md: 23px;
$font-lg: 32px;
$font-hl: 90px;

// Font size mobile
$font-hl-m: 45px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  margin: 0;
  background-color: #141D2F;
  color: white;
  z-index: -2;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00BEE8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4B47FF;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

app-root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

app-mainpage {
  width: 100vw;
  max-width: 100%;
}

app-imprint {
  margin-top: 90px;
  height: 100%;
  min-height: calc(100vh - 384px);
  width: 100vw;
  max-width: 100%;
}

h1 {
  font-size: $font-hl;
  font-weight: 700;
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 70px;
  }

  @media (max-width: 1070px) {
    font-size: 56px;
  }

  @media (max-width: 460px) {
    font-size: 48px;
  }
}

h2 {
  font-size: $font-lg;
  font-weight: 700;
  color: #4B47FF;
  margin: 0;
}

h3 {
  font-size: 21px;
  font-weight: 400;
  color: #00BEE8;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  font-family: $primary_font;
  font-size: $font-md;
  font-weight: 300;
  line-height: 27.6px;
  color: white;
  padding: 15px 30px;
  border: 0;
  border-radius: 10px;
  background-color: #00BEE8;
  cursor: pointer;
  transition: 125ms ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: #4B47FF;
    transform: scale(1.1);
  }
}

.button-live-test {
  background-color: #4B47FF !important;
  transform: none !important;

  &:hover {
    background-color: #00BEE8 !important;
  }
}

.button-github {
  background-color: transparent !important;
  transform: none !important;
  box-shadow: inset 0px 0px 0px 1px #00BEE8 !important;
  box-sizing: border-box !important;

  &:hover {
    background-color: #00BEE8 !important;
  }
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-column {
  flex-direction: column;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.td-none {
  text-decoration: none;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-35 {
  width: 35%;
}

.g-90 {
  gap: 90px;

  @media (max-width: 1070px) {
    gap: 45px;
  }

  @media (max-width: 460px) {
    gap: 20px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-150 {
  margin-right: 150px;

  @media (max-width: 1070px) {
    margin-right: 0;
  }
}

.ml-180 {
  margin-left: 180px;
}

.pl-30 {
  padding-left: 30px;

  @media (max-width: 1070px) {
    padding-left: 0;
  }
}

.p-project-r-100 {
  padding-right: 100px;
}
.p-project-r-15 {
  padding-right: 30px;

  @media (max-width: 1070px) {
    padding-right: 0;
  }
}

.pr-standard-desktop {
  padding-right: 100px;
}

.pl-standard-desktop {
  padding-left: 100px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;

  @media (max-width: 1070px) {
    text-align: center;
  }
}

.flex-reverse {
  @media (max-width: 1070px) {
      flex-direction: column-reverse !important;
  }
}

.project-content {
  gap: 150px;
  width: 85%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    // max-width: 500px;
  }

  @media (max-width: 1600px) {
    width: 100%;
  }

  @media (max-width: 1070px) {
    width: auto;
    flex-direction: column;
    gap: 0;
    margin-left: 100px;
    margin-right: 100px;

    span {
      max-width: unset;
    }
  }
}

.first-project-design-mobile,
.third-project-design-mobile,
.fifth-project-design-mobile {
  width: 50%;
}

.notebook-style-mobile {
  @media (max-width: 1070px) {
    justify-content: center;
    margin-left: 15px;
  }
}

@media (max-width: 720px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 720px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 1070px) {
  .pr-standard-mobile {
    padding-right: 50px;
  }

  .pl-standard-mobile {
    padding-left: 50px;
  }

  .first-project-design-mobile,
  .third-project-design-mobile,
  .fifth-project-design-mobile {
    margin-top: 45px;
    padding-right: 0;
    width: 100%;
    align-items: center;

    h2 {
      padding-left: 0;
    }

    h3 {
      padding-left: 0;
    }

    span {
      padding-left: 0;
    }
  }

  .second-project-img-design-mobile,
  .forth-project-img-design-mobile {
    margin-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }

  .second-project-info-design-mobile,
  .forth-project-info-design-mobile {
    margin-top: 45px;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .pr-standard-small {
    padding-right: 25px;
  }

  .pl-standard-small {
    padding-left: 25px;
  }

  .notebook-small-mobile {
    height: 200px;
  }
}