<div class="project-content">
    <div class="d-flex f-center j-end notebook-style-mobile w-50">
        <img src="assets/img/photos/dabubble_desktop.png" class="notebook-small-mobile">
    </div>

    <div class="d-flex f-column first-project-design-mobile w-50 p-project-r-100">
        <h2 class="pl-30">DaBubble</h2>
        <h3 class="pl-30">Angular | Typescript | Firebase</h3>
        <span class="mb-30 pl-30">Diverse chat messenger, offering administrative group chats with response features,
            direct messaging and a comprehensive search bar. Connect, share images, and seamlessly log in, even with
            your Google account.</span>
        <div class="d-flex j-start g-90 pl-30">
            <a href="https://dabubble.timvoigt.ch" target="_blank" class="td-none">
                <button class="button-live-test">Live test</button>
            </a>
            <a href="https://github.com/Landvoigt/DABubble" target="_blank" class="td-none">
                <button class="button-github">Github</button>
            </a>
        </div>
    </div>
</div>